<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="main-content">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="map" style="height: 100%" class="d-flex justify-content-center mt-3"></div>
            </div>
            <div class="col d-flex flex-column">
                <h4 class="text-center mt-3">
                    В очереди
                </h4>
                <div class="overflow-auto" style="height: 350px">
                    <div class="container-fluid ">
                        <div class="row" th:each="order : ${orders}">
                            <div class="col-md-6" th:if="${order.getStatusDelivery()==0}">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td th:text="${order.getGuid()}"></td></tr>
                                        <tr><td>Клиент :</td><td th:text="${order.getCurrent()}"></td></tr>
                                        <tr>
                                            <td>Номер телефона :</td><td th:text="${order.getPhone()}"></td>
                                        <tr>
                                            <td>Адрес :</td><td th:text="${order.getAddress()}"></td>
                                        <tr>
                                            <td>Время принятия заказа :</td><td th:text="${#dates.format(order.getDateStart(), 'hh:mm')}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <h4 class=" text-center mb-3">
                    В пути
                </h4>
                <div class="overflow-auto" style="height: 350px">
                    <div class="container-fluid ">
                        <div class="row" th:each="order : ${orders}">
                    <div class="col-md-6" th:if="${order.getStatusDelivery()==1}">
                        <div class=" alert alert-warning alert-dismissible fade show" role="alert">
                            <table>
                                <tr><td>Номер заказа :</td><td th:text="${order.getGuid()}"></td></tr>
                                <tr><td>Клиент :</td><td th:text="${order.getCurrent()}"></td></tr>
                                <tr>
                                    <td>Номер телефона :</td><td th:text="${order.getPhone()}"></td>
                                <tr>
                                    <td>Адрес :</td><td th:text="${order.getAddress()}"></td>
                                <tr>
                                    <td>Время принятия заказа :</td><td th:text="${#dates.format(order.getDateStart(), 'hh:mm')}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!--    <script th:src="@{'/js/map.js'}">-->
    <script th:inline="javascript">


        // Создание настраиваемой иконки с вашим изображением
        var truckIcon = L.icon({
            iconUrl: '/icons/truck.png', // Путь к изображению иконки
            iconSize: [32, 32], // Размер иконки
            iconAnchor: [16, 32], // Анкер иконки
            popupAnchor: [0, -25] // Анкер всплывающего окна (если оно открывается рядом с иконкой)
        });
        var dropIcon = L.icon({
            iconUrl: '/icons/drop.png', // Путь к изображению иконки
            iconSize: [32, 32], // Размер иконки
            iconAnchor: [16, 32], // Анкер иконки
            popupAnchor: [0, -25] // Анкер всплывающего окна (если оно открывается рядом с иконкой)
        });
        var drop2Icon = L.icon({
            iconUrl: '/icons/drop2.png', // Путь к изображению иконки
            iconSize: [32, 32], // Размер иконки
            iconAnchor: [16, 32], // Анкер иконки
            popupAnchor: [0, -25] // Анкер всплывающего окна (если оно открывается рядом с иконкой)
        });
        // Инициализация карты
        var map = L.map('map').setView([43.238949, 76.889709], 13);
        console.log("fffg")
        // Добавление слоя OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);
        // Добавление маркера
        L.marker([43.24404757763458, 76.8905757498524]).addTo(map)
            .bindPopup('Пятый элемент')
            .openPopup();
        L.marker([43.24145741849453, 76.89485371811344], {icon: truckIcon}).addTo(map)
            .bindPopup('Водитель Валераx')
            .openPopup();
        var orders = [[${orders}]];

        // Теперь у вас есть доступ к данным orders в JavaScript.
        if (orders !== null) {
            // Вы можете работать с данными здесь, например, перебирать массив:
            for (var i = 0; i < orders.length; i++) {
                if(orders[i].statusDelivery===0){
                    console.log("aaaa")
                    var order = orders[i];
                    L.marker([orders[i].latitude, orders[i].longitude], {icon: dropIcon}).addTo(map)
                        .bindPopup('Клиент: '+orders[i].current)
                        .openPopup();
                }
                if(orders[i].statusDelivery===1){
                    console.log("dddd")
                    var order = orders[i];
                    L.marker([orders[i].latitude, orders[i].longitude], {icon: drop2Icon}).addTo(map)
                        .bindPopup('Клиент: '+orders[i].current)
                        .openPopup();
                }
            }
        }
    </script>
</div>
</html>