<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="main-content">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="map" style="height: 100%" class="d-flex justify-content-center mt-3"></div>
            </div>
            <div class="col d-flex flex-column">
                <h4 class="text-center mt-3">
                    В очереди
                </h4>
                <div class="overflow-auto" style="max-height: 350px">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <h4 class=" text-center mb-3">
                    В пути
                </h4>
                <div class="overflow-auto" style="height: 350px">
                    <div class="container-fluid ">
                        <div class="row">
                    <div class="col-md-6">
                        <div class=" alert alert-warning alert-dismissible fade show" role="alert">
                            <table>
                                <tr><td>Номер заказа :</td><td>guid</td></tr>
                                <tr><td>Клиент :</td><td>Андрей</td></tr>
                                <tr>
                                    <td>Номер телефона :</td>
                                    <td>+79999999999</td>
                                <tr>
                                    <td>Адрес :</td>
                                    <td>Алматы</td>
                                <tr>
                                    <td>Время принятия заказа :</td>
                                    <td>10:00</td>
                                </tr>
                                <tr>
                                    <td>Водитель :</td>
                                    <td>Валера</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class=" alert alert-warning alert-dismissible fade show" role="alert">
                            <table>
                                <tr><td>Номер заказа :</td><td>guid</td></tr>
                                <tr><td>Клиент :</td><td>Андрей</td></tr>
                                <tr>
                                    <td>Номер телефона :</td>
                                    <td>+79999999999</td>
                                <tr>
                                    <td>Адрес :</td>
                                    <td>Алматы</td>
                                <tr>
                                    <td>Время принятия заказа :</td>
                                    <td>10:00</td>
                                </tr>
                                <tr>
                                    <td>Водитель :</td>
                                    <td>Валера</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                            <div class="col-md-6">
                                <div class=" alert alert-warning alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                        <tr>
                                            <td>Водитель :</td>
                                            <td>Валера</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" alert alert-warning alert-dismissible fade show" role="alert">
                                    <table>
                                        <tr><td>Номер заказа :</td><td>guid</td></tr>
                                        <tr><td>Клиент :</td><td>Андрей</td></tr>
                                        <tr>
                                            <td>Номер телефона :</td>
                                            <td>+79999999999</td>
                                        <tr>
                                            <td>Адрес :</td>
                                            <td>Алматы</td>
                                        <tr>
                                            <td>Время принятия заказа :</td>
                                            <td>10:00</td>
                                        </tr>
                                        <tr>
                                            <td>Водитель :</td>
                                            <td>Валера</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!--    <script th:src="@{'/js/map.js'}">-->
    <script>
        // Создание настраиваемой иконки с вашим изображением
        var truckIcon = L.icon({
            iconUrl: '/icons/truck.png', // Путь к изображению иконки
            iconSize: [32, 32], // Размер иконки
            iconAnchor: [16, 32], // Анкер иконки
            popupAnchor: [0, -25] // Анкер всплывающего окна (если оно открывается рядом с иконкой)
        });
        var dropIcon = L.icon({
            iconUrl: '/icons/drop.png', // Путь к изображению иконки
            iconSize: [32, 32], // Размер иконки
            iconAnchor: [16, 32], // Анкер иконки
            popupAnchor: [0, -25] // Анкер всплывающего окна (если оно открывается рядом с иконкой)
        });
        // Инициализация карты
        var map = L.map('map').setView([43.238949, 76.889709], 13);
        console.log("fffg")
        // Добавление слоя OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);
        // Добавление маркера
        L.marker([43.24404757763458, 76.8905757498524]).addTo(map)
            .bindPopup('Пятый элемент')
            .openPopup();
        L.marker([43.24145741849453, 76.89485371811344], {icon: truckIcon}).addTo(map)
            .bindPopup('Водитель Валераx')
            .openPopup();
        L.marker([43.28670686963935, 76.95353530902307], {icon: dropIcon}).addTo(map)
            .bindPopup('Клиент: Андрей')
            .openPopup();
        L.marker([43.227895060428274, 76.94328083345975], {icon: dropIcon}).addTo(map)
            .bindPopup('Клиент: Андрей')
            .openPopup();
    </script>
</div>
</html>